@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Lato:wght@100&family=Open+Sans:ital,wght@1,300&family=Roboto&family=Shadows+Into+Light&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Roboto";
}
nav#id-ln1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: RGB(165, 23, 22);
  height: 7vh;
}
nav#id-ln1 a {
  color: white;
  font-size: 13px;
}
nav#id-ln1 a span{
    margin-left: 5px;
}
nav#id-ln2{
    display: flex;
    flex-flow: row wrap;
    padding-top: 15px;
    background-color: RGB(223, 0, 0);
    padding-left: 50px;
   
}
nav#id-ln2 span{
    color: white;
    font-size: 13px;
    margin-right: 20px;
}
nav#id-ln2 span i{
    color: white;
}
nav#id-ln2 img{
  width: 150px;
  height: 150px;
}
div#id-ln3{
  display: flex;
  flex-flow: row wrap;
  padding-top: 5px;
  padding-bottom: 15px;
  align-items: center;
  background-color: RGB(223, 0, 0);
}
div#id-ln3 img{
  height: 80px;
  width: 350px;
}
div#id-ln3 button{
  /* width: 150px; */
  /* height: 40px; */
  padding: 13px;
  border-radius: 7px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
div#id-ln3 span{
  font-weight: bolder;
  font-size: 14px;
  margin-left: 5px;
}
div#id-ln3 input{
  padding-left: 20px;
  margin-left: 15px;
  width: 30%;
  border-radius: 10px;
  height: 50px;
  border: none;
}
.cls-mitienda{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 10%;
  flex-flow: row wrap;
  /* background-color: green; */
  font-size: 15px;
  margin-left: 15px;
}
.cls-mitienda svg{
  width: 15px;
  color: white;

}